<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="chassis">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.004167" ixy="0.0" ixz="0.0"
               iyy="0.014167" iyz="0.0"
               izz="0.016667"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.2 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="model://my_robot/meshes/chassis.dae" scale="0.9 0.5 0.5"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="-0.15 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="-0.15 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
  </link>

  <link name="left_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.001354" ixy="0.0" ixz="0.0"
               iyy="0.001354" iyz="0.0"
               izz="0.0025"/>
    </inertial>

    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </visual>
  </link>

  <link name="right_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.001354" ixy="0.0" ixz="0.0"
               iyy="0.001354" iyz="0.0"
               izz="0.0025"/>
    </inertial>

    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </visual>
  </link>

  <joint name="left_wheel_hinge" type="continuous">
    <parent link="chassis"/>
    <child link="left_wheel"/>
    <origin xyz="0.1 0.13 0" rpy="0 1.5707 1.5707"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>

  <joint name="right_wheel_hinge" type="continuous">
    <parent link="chassis"/>
    <child link="right_wheel"/>
    <origin xyz="0.1 -0.13 0" rpy="0 1.5707 1.5707"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  
  <gazebo reference="chassis">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
  </gazebo>

  <gazebo reference="left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo>
    <static>false</static>
  </gazebo>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="left_wheel_hinge">
      <param name="vel_kp">1.0</param>
      <param name="vel_ki">0.5</param>
      <param name="vel_kd">0.0</param>
      <param name="vel_max_integral_error">10</param>

      <command_interface name="velocity_pid"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wheel_hinge">
      <param name="vel_kp">1.0</param>
      <param name="vel_ki">0.5</param>
      <param name="vel_kd">0.0</param>
      <param name="vel_max_integral_error">10</param>

      <command_interface name="velocity_pid"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- Plugin que sobe o controller_manager dentro do Gazebo -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find controle_movimento)/config/controllers.yaml</parameters>
      <ros>
        <remapping>diff_drive_controller/odom:=odom</remapping>
      </ros>
    </plugin>
  </gazebo>

</robot>
